@model IEnumerable<ModernyzeWebsite.Models.User.UserAccount>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage)) {
        <span class="bg-danger">@ViewBag.ErrorMessage</span>
    }
</div>
