@model IEnumerable<ModernyzeWebsite.Models.User.UserAccount>

@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About Us</h1>

<div class="row">
    <div class="column">
        <img src="~/images/ritLogo.png" alt="ritchie" style="width:100%">
    </div>
    <div class="column">
        <img src="~/images/crossover3.png" alt="cross" style="width:100%">
    </div>
    <div class="column">
        <img src="~/images/monsees.jpg" alt="Monsees" style="width:100%">
    </div>
</div>

<h3>Important People</h3>
