@model IEnumerable<ModernyzeWebsite.Models.TimeLogViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Time Logged this Week</h2>
    <table class="table">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Time Logged
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (TimeLogViewModel item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReadableTimeLogged)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
