@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1 id="ProjectSynopsisTitle">Project Synopsis</h1>
            </div>
            <div class="card-body">
                <p>
                    The Monsees Group project will consist of building out the Subcontracting Subsystem and New Part Creation Tools. The Subcontracting Subsystem involves delegating work that Monsees would do in some cases to an external vendor. This includes generating requests for quotes (RFQ), purchase orders (PO), and Setup Sheets to describe what work will be done internally at Monsees, and what work will be done by subcontractors.
                </p>
                <p>
                    The goal of the project is to improve the Subcontracting Subsystem and Part Management tools. One method of improving the Subcontracting Subsystem involves making the Subcontracting Subsystem more robust by including correct and useful information about a subcontracted job on Setup Sheets. Another method of improvement involves moving some existing software like the RFQ and PO subsystems out of MS Access and into MS SQL Server and ASP.NET.
                </p>
                <p>
                    Improving the Part Management Tools navigating and manipulating existing internal part numbers, as well as creating new internal or external part numbers. This is related to the Subcontracting Subsystem since internal parts are mapped to subcontracting part numbers.
                </p>
                <p>
                    Depending on the team’s progress, this project may include optimizing database entities, updating the Monsees material subsystem, integrating stronger security measures into the application domain, updating the UI for ease of use, and even an analytics and rating system for vendors.
                </p>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h1 id="RolesTitle">Roles</h1>
            </div>
            <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Andrew Frank</td>
                        <td>Technical Lead</td>
                    </tr>
                    <tr>
                        <td>Cole Melfi</td>
                        <td>Project Manager</td>
                    </tr>
                    <tr>
                        <td>Joseph Avendano</td>
                        <td>UI/UX Lead</td>
                    </tr>
                    <tr>
                        <td>Zach Tucker</td>
                        <td>Communications Lead</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">

    </div>
</div>