@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="card">
        <div class="card-header">
            <h2 class="display-4" id="fourUpTitle">Latest 4-Up</h2>
        </div>
        <div class="card-body fourUpCard"><div class="loading"></div></div>
        <div class="card-footer"></div>
    </div>
</div>
<br/>
<div class="row">
    <div class="card">
        <div class="card-header">
            <h2 class="display-4" id="timeCardTitle">Time Logged this Week</h2>
            <input id="weekSelect" type="week" min="2022-W2"/>
        </div>
        <div class="card-body" id="timeCard"><div class="loading"></div></div>
        <div class="card-footer"></div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            const $weekSelector = $('#weekSelect');
            const $timeCard = $('#timeCard');
            const $fourUpCard = $('.fourUpCard');
            const $loading = $('.loading');

            $loading.hide(); // hide loading divs by default

            $(document)
                .ajaxStart(function() {
                    $loading.show();
                })
                .ajaxStop(function() {
                    $loading.hide();
                });

            const now = new Date();
            // When the page loads, make an AJAX call to get the latest four-up
            $.ajax({
                type: 'GET',
                url: 'FourUp/GetLatest',
                success: function(response) {
                    $fourUpCard.html(response);
                }
            });

            // When the page loads, make an AJAX call to get time logged for this week
            $.ajax({
                type: 'GET',
                url: 'TimeLog/GetTimeLoggedByWeek',
                dataType: 'html',
                data: {
                    selectedDate: now.toISOString()
                },
                success: function(response) {
                    $timeCard.html(response);
                }
            });

            // When a change is made in the week selector, update the table to show the new data.
            $weekSelector.on('change',
                function() {
                    // Update the title
                    const $title = $('#timeCardTitle');
                    $title.text("Time Logged by Week");

                    const year = $weekSelector.val().split('-')[0];
                    const week = $weekSelector.val().split('-')[1].slice(1);
                    
                    // Make an AJAX call to the UpdateTimeLogged action in the HomeController.
                    // Pass the parameters 'year' and 'week' as query string parameters.
                    $.ajax({
                        type: 'GET',
                        url: 'TimeLog/UpdateTimeLogged',
                        dataType: 'html',
                        data: {
                            year: year,
                            week: week
                        },
                        success: function(response) {
                            $timeCard.html(response);
                        }
                    });
                });
        });
    </script>
    }
