<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/632e70aa-627a-40a6-8fd1-c50e968a6814/resourcegroups/TeamModernyze/providers/Microsoft.Web/sites/ModernyzeWebsite</ResourceId>
    <ResourceGroup>TeamModernyze</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://modernyzewebsite.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e1193583-09b4-46f4-9de8-fa11997ff40a</ProjectGuid>
    <PublishUrl>https://modernyzewebsite.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ModernyzeWebsite</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>