@using ModernyzeWebsite.Models.FourUp
@model IEnumerable<ModernyzeWebsite.Models.FourUp.FourUp>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!string.IsNullOrEmpty(Context.Session.GetString("HighestPermission"))) {
    if (Context.Session.GetString("HighestPermission").Equals("Administrator")) {
        <p>
            <a class="btn btn-modernyze" asp-action="Create">Upload New Four-Up</a>
        </p>
        <br/>
    }
}

@foreach (FourUp item in Model) {
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2 class="display-4 fourUpTitle">Four-Up for Week of @string.Format("{0}/{1}/{2}", item.WeekOf.Month, item.WeekOf.Day, item.WeekOf.Year)</h2>
                </div>
                <div class="card-body fourUpCard">
                    <iframe class="fourUp" src="@item.Source"></iframe>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
}
